<!DOCTYPE html>
<html th:fragment="Layout (content,title,productList, deviceList,deviceManagement1,deviceManagement2,
rule1,rule2,logManagement,monitor)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${title}">边缘计算平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">边缘计算平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item"><a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:;"> 用户名称 </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">登出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed"><a class=""
                                                               href="javascript:;">产品管理</a>
                    <dl class="layui-nav-child">
                        <dd th:replace="${productList}">
                            <a href="/pages/list2">产品列表</a>
                        </dd>
                        <dd th:replace="${deviceList}">
                            <a href="javascript:;">设备列表</a>
                        </dd>

                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">设备管理</a>
                    <dl class="layui-nav-child">
                        <dd th:replace="${deviceManagement1}">
                            <a href="javascript:;">列表一</a>
                        </dd>
                        <dd th:replace="${deviceManagement2}">
                            <a href="javascript:;">列表二</a>
                        </dd>

                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">规则引擎</a>
                    <dl class="layui-nav-child">
                        <dd th:replace="${rule1}">
                            <a href="javascript:;">列表一</a>
                        </dd>
                        <dd th:replace="${rule2}">
                            <a href="javascript:;">列表二</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd th:replace="${logManagement}">
                            <a href="javascript:;">日志管理</a>
                        </dd>
                        <dd th:replace="${monitor}">
                            <a href="javascript:;">实时监控</a>
                        </dd>

                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" th:insert="${content}">
        Base模板
    </div>
    <div class="layui-footer">
        © jw.com - 北京交通大学 , xx实验室
    </div>

</body>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</html>
