<div th:fragment="memuLayout (productList, deviceList,deviceManagement1,deviceManagement2,
rule1,rule2,logManagement,monitor)" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed"><a class=""
                                                           href="javascript:;">产品管理</a>
                <dl class="layui-nav-child">
                    <dd th:replace="${productList}">
                        <a href="/pages/list2">产品列表</a>
                    </dd>
                    <dd th:replace="${deviceList}">
                        <a href="javascript:;">设备列表</a>
                    </dd>

                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">设备管理</a>
                <dl class="layui-nav-child">
                    <dd th:replace="${deviceManagement1}">
                        <a href="javascript:;">列表一</a>
                    </dd>
                    <dd th:replace="${deviceManagement2}">
                        <a href="javascript:;">列表二</a>
                    </dd>

                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">规则引擎</a>
                <dl class="layui-nav-child">
                    <dd th:replace="${rule1}">
                        <a href="javascript:;">列表一</a>
                    </dd>
                    <dd th:replace="${rule2}">
                        <a href="javascript:;">列表二</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">系统管理</a>
                <dl class="layui-nav-child">
                    <dd  th:replace="${logManagement}">
                        <a href="javascript:;">日志管理</a>
                    </dd>
                    <dd  th:replace="${monitor}">
                        <a href="javascript:;">实时监控</a>
                    </dd>

                </dl>
            </li>
        </ul>
    </div>
</div>