<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: Layout(~{::content},~{::title}, _,~{::productMenu},_,_,_,_,_,~{::scripts},_,_)}">

<title>设备模板详情</title>
<content>
    <p id="test">hahaha</p>
</content>

<dd class="layui-this" th:fragment="productMenu">
    <a href="/pages/products">设备模板列表</a>
</dd>
<div th:fragment="scripts">
    <script>
        window.onload=function () {
            layui.$.ajax({
                type: "get",
                url: "/api/product/"+localStorage.id,
                async: false,//同步提交。不设置则默认异步，异步的话，最后执行ajax
                dataType: "json",
                // processData: false,
                // cache: false,
                success: function (data) {
                   document.getElementById("test").innerHTML=JSON.stringify(data);
                },
                error:function(data){
                    alert("失败");
                    alert(data);
                }
            });
        }

    </script>
</div>
</html>

