<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: Layout(~{::content},~{::title}, _,~{::productList},_,_,_,_,~{::scripts})}">

<title>产品列表</title>
<content>

    <div class="layui-tab-brief layui-tab">
        <ul class="layui-tab-title site-demo-title">
            <li><a href="/pages/products">产品列表</a></li>
            <li class="layui-this"><a><cite>产品详情</cite></a></li>
        </ul>
    </div>
    <div class="layui-fluid">
        <div class="layui-col-md12">
            <div class="layui-card">
                <br>
                <h1 th:text="${product.getProductName()}"></h1>
                <br>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md4">
                            <b>ProductKey:</b> <span th:text="${product.getProductId()}"></span>
                        </div>
                        <div class="layui-col-md4"><b>设备数：</b> 1</div>
<!--                        <div class="layui-col-md4">c</div>-->
                    </div>
                    <br>
                    <!--卡片风格tab选项卡-->
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">产品信息</li>
                            <li>功能定义</li>
                        </ul>
                        <div class="layui-tab-content" style="height: 100px;">
                            <div class="layui-tab-item layui-show">
                                <br/>
                                <b><h2>产品信息</h2></b>
                                <br/>
                                <table border="0" class="layui-table">

                                    <tr>
                                        <th>产品名称</th>
                                        <td th:text="${product.getProductName()}"></td>
                                        <th>节点类型</th>
                                        <td th:text="${product.getProductType()}"></td>
                                        <th>创建时间</th>
                                        <td th:text="${product.getProductCreateTime()}"></td>
                                    </tr>
                                    <tr>
                                        <th>所属分类</th>
                                        <td>环境监测</td>
                                        <th>数据格式</th>
                                        <td colspan="5">ICA 标准数据格式 (Alink JSON)</td>
                                    </tr>
                                    <tr>
                                        <th><span>动态注册</span><i class="next-icon next-icon-help next-icon-small"
                                                                style="margin-left: 8px; color: rgb(204, 204, 204);"></i>
                                        </th>
                                        <td><span style="color: rgb(195, 197, 198);">已关闭</span>
                                            <div class="next-switch next-switch-off next-switch-small" tabindex="0"
                                                 aria-checked="false" style="position: relative; left: 8px; top: 3px;">
                                                <div class="next-switch-trigger"></div>
                                                <div class="next-switch-children"></div>
                                            </div>
                                        </td>
                                        <th>ProductSecret</th>
                                        <td colspan="3">
                                            <div><span>********</span>
                                                <button type="button"
                                                        class="next-btn next-btn-text next-btn-normal next-btn-medium"
                                                        style="margin-left: 8px;">显示
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>状态</th>
                                        <td>
                                            <div style="margin: 0px;"><span
                                                    class="productInfo_development_41C1I"></span><span>开发中</span></div>
                                        </td>
                                        <th>是否接入网关</th>
                                        <td>否</td>
                                        <th>连网协议</th>
                                        <td colspan="3">其他</td>
                                    </tr>
                                    <tr>
                                        <th>产品描述</th>
                                        <td colspan="5"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="layui-tab-item">内容2</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <h1></h1>
</content>

<dd class="layui-this" th:fragment="productList">
    <a href="/pages/products">产品列表</a>
</dd>
<div th:fragment="scripts">


</div>
</html>

