<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: Layout(~{::content},~{::title}, _,~{::productList},_,_,_,_,_,_,_,~{::scripts})}">

<title>产品列表</title>
<content>

    <div class="layui-fluid" style="padding: 15px;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header ">
                        <h1>产品列表</h1>
                    </div>
                    <div class="layui-row" id="layerDemo">
                        <button data-method="notice"
                                class="layui-col-md-offset11    layui-btn layui-btn-normal layui-btn-radius">
                            创建产品
                        </button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="productTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</content>

<dd class="layui-this" th:fragment="productList">
    <a href="/pages/products">产品列表</a>
</dd>
<div th:fragment="scripts">

    <script th:inline="none">
        layui.use('table', function () {
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#productTable',
                url: '/api/products/', //数据接口
                page: true,  //开启分页
                //width: 1200,

                cols: [[ //表头
                    {field: 'productId', title: 'ProductKey', sort: true, align: 'center'},
                    {field: 'productName', title: '产品名称', align: 'center'},
                    {field: 'productType', title: '节点类型', align: 'center'},
                    {field: 'productCreateTime', title: '添加时间', sort: true, align: 'center'},
                    {
                        fixed: 'right', title: '操作', align: 'center',
                        templet: function (data) {
                            return "<a href='AdminInfo?id=" + data.id + "' title='查看' class='layui-btn layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe60b;</icon></a>" +
                                "<a href='' title='编辑' class='layui-btn layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe642;</icon></a>" +
                                "<a href='' title='删除' class='layui-btn layui-bg-red layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe640;</icon></a>";
                        }
                    }
                ]]
            });

        });
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

            //触发事件
            var active = {

                notice: function () {
                    //示范一个公告层
                    layer.open({
                        type: 2
                        ,
                        title: "新建产品"
                        ,
                        closeBtn: 1
                        ,
                        area:['600px', '600px']
                        ,
                        shade: 0.3
                        ,
                        id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,
                        // btn: ['提交', '取消']
                        // ,
                        btnAlign: 'c'
                        ,
                        moveType: 1 //拖拽模式，0或者1
                        ,
                        content: '/pages/productCreate'
                        ,
                        // success: function (layero) {
                        //     var btn = layero.find('.layui-layer-btn');
                        //     btn.find('.layui-layer-btn0').attr({
                        //         href: 'http://www.layui.com/'
                        //         , target: '_blank'
                        //     });
                        // }
                    });
                }

            };

            $('#layerDemo .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

        });
    </script>


</div>
</html>

