<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: Layout(~{::content},~{::title}, _,~{::profileMenu},_,_,_,_,_,~{::scripts},_,_)}">

<title>设备模板详情</title>
<content>
    <div class="layui-row ">
        <div class="layui-col-lg1 layui-col-md1 layui-col-sm1" style="margin-left: 20px;margin-top: 20px">
            <a href="/pages/profile" class="layui-btn layui-btn-radius layui-btn-warm layui-btn-lg">返回列表</a>
        </div>
    </div>
    <div class="layui-row" style="margin-top: 30px">
        <div class="layui-col-md10 layui-col-md-offset1 layui-card">
            <div class="layui-card-header" id="title">模板名称</div>
            <div class="layui-card-body">
                <p id="content">无数据</p>
            </div>
        </div>
    </div>

</content>

<dd class="layui-this" th:fragment="profileMenu">
    <a href="/pages/profile">设备模板列表</a>
</dd>
<div th:fragment="scripts">
    <script>
        window.onload=function () {
            layui.$.ajax({
                type: "get",
                url: "/api/profile/"+localStorage.profileid,
                async: false,//同步提交。不设置则默认异步，异步的话，最后执行ajax
                dataType: "json",
                // processData: false,
                // cache: false,
                success: function (data) {
                    document.getElementById("title").innerHTML=data["name"];
                    document.getElementById("content").innerHTML=JSON.stringify(data);
                },
                error:function(data){
                    console.log("失败"+data);
                }
            });
        }

    </script>
</div>
</html>

