<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>边缘计算平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>

<form class="layui-form layui-fluid" action="">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>设备信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">设备名称</label>
        <div class="layui-input-inline">
            <input type="text" name="deviceName" lay-verify="title" autocomplete="off" placeholder="请输入您的产品名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">设备类型</label>
        <div class="layui-input-inline">
            <select name="deviceType" id="deviceType" lay-filter="required">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">配置文件</label>
        <div class="layui-input-inline">
            <select name="deviceProfile" id="deviceProfile" lay-filter="devProfile">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">通信协议</label>
        <div class="layui-input-inline">
            <select name="deviceProtocol" id="deviceProtocol">
                <option value="HTTP">HTTP</option>
                <option value="OTHER">Modbus</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">地址设定</label>
            <div class="layui-input-inline" id="setAddress">
                <input type="text"id="addressPlaceholder" autocomplete="off" placeholder="请输入选择产品类型" class="layui-input" disabled="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">设备路径</label>
        <div class="layui-input-inline">
            <input type="text" name="devicePath"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">有效期至</label>
        <div class="layui-input-inline">
            <input type="text" name="deviceFailDate" id="deviceFailDate" lay-verify="deviceFailDate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" lay-event="dateFormat">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">初始状态</label>
        <div class="layui-input-inline">
            <select name="deviceStatus" lay-filter="aihao">
                <option value=""></option>
                <option value=1 selected="">开启</option>
                <option value=0>关闭</option>
            </select>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>更多信息</legend>
    </fieldset>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">设备描述</label>
        <div class="layui-input-block">
            <textarea name="deviceDesc"placeholder="请输入产品描述" class="layui-textarea"></textarea>
        </div>
    </div>


    <div class="layui-form-item" style="display: none">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="formVerify">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'layer'], function () {

        var form = layui.form;
        var pp;
        //自定义验证规则
        // form.verify({
        //     title: function (value) {
        //         if (value.length < 5) {
        //             return '标题至少得5个字符啊';
        //         }
        //     }
        //     , pass: [
        //         /^[\S]{6,12}$/
        //         , '密码必须6到12位，且不能出现空格'
        //     ]
        //     , content: function (value) {
        //         layedit.sync(editIndex);
        //     }
        // });

        //动态加载设备类型
        $ = layui.jquery;
        $(document).ready(function() {
            var laydate = layui.laydate;
            var hh = sessionStorage.getItem("productNames");
            pp = JSON.parse(hh);
            laydate.render({
                elem: '#deviceFailDate'
            });
            for(k=0;k<pp.length;k++){
                var option = document.createElement("option");  // 创建添加option属性
                option.setAttribute("value",pp[k].productName); // 给option的value添加值
                option.innerText=pp[k].productName;     // 打印option对应的纯文本
                deviceType.appendChild(option);           //给select添加option子标签
                //console.log(pp[k].productName);
            }
            var option = document.createElement("option");  // 创建添加option属性
            option.setAttribute("value","temp.profile");
            option.innerText="temperature and humidity sensor profile";
            deviceProfile.appendChild(option);
            form.render("select");            // 刷性select，显示出数据
        });
        //地址设定 根据不同设备类型设置地址
        form.on('select(required)', function (obj) {
            var data = obj.data;
            var addressObj = document.getElementById("setAddress");
            if(document.getElementById("addressPlaceholder") ){
                var addressPlaceholder = document.getElementById("addressPlaceholder");
                addressPlaceholder.style.display="none";
            }
            if (obj.elem.selectedIndex-1 < 0){
                addressObj.innerHTML='<input type="text"id="addressPlaceholder" autocomplete="off" placeholder="请输入选择产品类型" class="layui-input" disabled="">';
            } else {
                if (pp[obj.elem.selectedIndex-1].productType == "网关"){
                    addressObj.innerHTML='<div class="layui-input-inline"> <input type="text" name="deviceAddress" autocomplete="off" placeholder="请输入设备IP地址" class="layui-input"></div><div class="layui-input-inline" style="width: 75px;"><input type="text" name="deviceAddressPort" placeholder="端口号" autocomplete="off" class="layui-input"></div>';
                }else{
                    addressObj.innerHTML='<div class="layui-input-inline"> <input type="text" name="deviceAddress" autocomplete="off" placeholder="请输入设备地址" class="layui-input"></div><div class="layui-input-inline" style="width: 75px;"><input type="text" name="deviceAddressPort" placeholder="端口号" autocomplete="off" class="layui-input"></div>';
                }
            }
            form.render();
        });

        //选择配置文件
//        form.on('select(devProfile)', function (obj) {
//            var hh = sessionStorage.getItem("productNames");
//            pp = JSON.parse(hh);
//            for(k=0;k<pp.length;k++){
//                var option = document.createElement("option");  // 创建添加option属性
//                option.setAttribute("value",pp[k].productName+"的配置文件"); // 给option的value添加值
//                option.innerText=pp[k].productName;     // 打印option对应的纯文本
//                deviceType.appendChild(option);           //给select添加option子标签
//            }
//            form.render();
//        });

        form.on('submit(formVerify)', function (obj) {
            $ = layui.jquery;
            var form = layui.form;
            var layer = layui.layer;
            var layedit = layui.layedit;
            var data = JSON.stringify(obj.field);
            var url = "/api/addDevice";
            var code = 0;

            layui.jquery.ajax({
                type: "post",
                url: url,
                async: false,//同步提交。不设置则默认异步，异步的话，最后执行ajax
                data: data,
                contentType: "application/json",
                // processData: false,
                // cache: false,
                success: function (ev) {
                    var url1 = "";
                    var data1 = JSON.stringify(ev.field);
                    layui.jquery.ajax({
                        type: "post",
                        url: url1,
                        async: false,//同步提交。不设置则默认异步，异步的话，最后执行ajax
                        data: data1,
                        contentType: "application/json",
                        success: function (evs) {
                            console.log(evs);//返回的addressable Json文件
                            code = evs.code;
                        }
                    });
                    code = ev.code;
                }
            });
            if (code == 500) {
                console.log("提交失败");
            }
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index);
            // 刷新表格（即点击分页控件的“确定”按钮）
            parent.layui.table.reload("deviceTable");
        });
    });
</script>

</html>