<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: Layout(~{::content},~{::title}, _,_,~{::deviceList},_,_,_,_,~{::scripts},_,_)}">

<title>设备列表</title>
<content>
    <div class="layui-tab-brief layui-tab">
        <ul class="layui-tab-title site-demo-title">
            <li class="layui-this"><a><cite>设备列表</cite></a></li>
        </ul>
    </div>
    <div class="layui-fluid" style="padding: 15px;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-hide" id="deviceTable" lay-filter="buttons"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</content>


<dd class="layui-this" th:fragment="deviceList">
    <a href="/pages/devices">设备列表</a>
</dd>

<div th:fragment="scripts">
    <script th:inline="none" type="text/html" id="barDemo">
        <button class="layui-btn layui-btn-xs" lay-event="detail">查看</button>
        <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
    </script>
    <script type="text/html" id="layerRefresh">
        <div class="layui-btn-container">
            <button id="createButton"
                    class="layui-btn layui-btn-normal layui-btn-radius"
                    lay-event="addDevice">
                添加设备
            </button>
            <button id="refreshButton"
                    class="layui-btn layui-btn-checked layui-btn-radius"
                    lay-event="refresh">
                刷新
            </button>
        </div>
    </script>
    <script th:inline="none">
        layui.use('table', function () {
            var table = layui.table;

            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            //第一个实例
            table.render({
                elem: '#deviceTable',
                url: '/api/device/list/', //数据接口
                page: true,  //开启分页
                toolbar: '#layerRefresh',
                defaultToolbar:['exports', 'print'],
                //width: 1200,
                cols: [
                    [ //表头
                        // {type: 'checkbox'},
                        {field: 'id', title: 'Id', sort: true, align: 'center'},
                        {field: 'name', title: '设备名称', align: 'center'},
                        {field: 'profile', title: '设备模板', align: 'center'},
                        {field: 'service', title: '设备协议', align: 'center'},
                        {field: 'createdTime', title: '添加时间', align: 'center'},
                        {
                            title: '操作', align: 'center',
                            toolbar: '#barDemo'
                        }
                    ]
                ]
            });
            //表内开关
            layui.use(['form'], function() {
                var form = layui.form
                    , layer = layui.layer;
                //监听指定开关
                form.on('switch(changeDeviceStatus)', function changeDeviceStatus(data) {
                    $.ajax({
                        type: "put",
                        url: "/api/changeStatus",
                        async: false,//同步提交。不设置则默认异步，异步的话，最后执行ajax
                        data: JSON.stringify({'deviceId': data.elem.attributes['switch_device_id'].nodeValue}),
                        contentType: "application/json",
                        success: function (ev) {
                            console.log(ev.data);
                        },
                        error: function (ev) {
                            console.log("开关失败" + ev.responseText);
                        }
                    });
                });
            });
            // 头工具栏事件
            table.on('toolbar(buttons)', function (obj) {

                var checkStatus = table.checkStatus('test');
                switch (obj.event) {
                    case 'addDevice':
                        notice();
                        break;
                    case 'refresh':
                        table.reload("deviceTable")
                        break;
                }
            });

            //监听工具条
            table.on('tool(buttons)', function (obj) {

                var data = obj.data;
                if (obj.event === 'detail') {
                    localStorage.deviceid=data.id;
                    location.href = "/pages/deviceDetails";
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            type: "delete",
                            url: "/api/device",
                            async: false,//同步提交。不设置则默认异步，异步的话，最后执行ajax
                            data: obj.data.id,
                            contentType: "text/plain",
                            // processData: false,
                            // cache: false,
                            success: function (ev) {
                                layer.close(index);
                                layer.msg("删除成功");
                                table.reload("deviceTable");
                            },
                            error:function(ev){
                                console.log("删除失败"+ev.responseText);
                                layer.msg("删除失败");
                                layer.close(index);
                                table.reload("deviceTable");
                            }

                        });
                    });
                }
            });
            //触发创建产品弹出层
            function notice(){
                //示范一个公告层
                layer.open({
                    type: 2
                    ,
                    title: "添加设备"
                    ,
                    closeBtn: 1
                    ,
                    area: ['600px', '600px']
                    ,
                    shade: 0.3
                    ,
                    id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,
                    btn: ['提交', '重置', '取消']
                    ,
                    btnAlign: 'c'
                    ,
                    moveType: 1 //拖拽模式，0或者1
                    ,
                    content: '/pages/addDevice'
                    ,
                    // success: function (layero) {
                    //     var btn = layero.find('.layui-layer-btn');
                    //     btn.find('.layui-layer-btn0').attr({
                    //         href: 'http://www.layui.com/'
                    //         , target: '_blank'
                    //     });
                    // }
                    success:function(){
                    },
                    yes: function (index, layero) {

                        // 获取弹出层中的form表单元素
                        var formSubmit = layer.getChildFrame('form', index);
                        // // 获取表单中的提交按钮
                        var submited = formSubmit.find('button')[0];
                        // // 触发点击事件，会对表单进行验证，验证成功则提交表单，失败则返回错误信息
                        submited.click();
                        // layer.close(index);
                        // 弹出层关闭的操作在子层的js代码中完成

                    },
                    btn2: function (index, layero) {
                        //按钮【重置】的回调
                        // 获取弹出层中的form表单元素
                        var formSubmit = layer.getChildFrame('form', index);
                        // // 获取表单中的提交按钮（在我的表单里第一个button按钮就是提交按钮，使用find方法寻找即可）
                        var submited = formSubmit.find('button')[1];
                        submited.click();
                        return false;
                    }
                });
            };
        });
        var statusTpl = function (d) { // 参数d是当前行数据
            var tgtid = d.deviceId;
            var str = '<input type="checkbox" lay-filter="changeDeviceStatus" lay-skin="switch" lay-text="启用|禁用" ';
            if(d.deviceStatus == 1){
                str = str + 'checked switch_device_id='+tgtid+'> ';
            }else{
                str = str + 'switch_device_id='+tgtid+'> ';
            }
            return str;
        };
    </script>

</div>
</html>

