<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: Layout(~{::content},~{::title}, ~{::productList},_,_,_,_,_,_,_)}">

<title>产品列表</title>
<content>
    <h1 th:text="${hello}"></h1>
    <table class="layui-table">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>remark</th>
        </tr>
        <!--/*@thymesVar id="userList" type="java.util.List<User>"*/-->
        <tr th:each="user : ${userList}">
            <td th:text="${user.userId}">0</td>

            <td th:text="${user.userName}">zhansan</td>
            <td th:text="${user.userRemark}">remark</td>
        </tr>
    </table>
</content>

<dd class="layui-this" th:fragment="productList">
    <a href="/pages/list2">产品列表</a>
</dd>

</html>
